# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Makefile
moc_BodyTab.cpp
moc_CookiesTab.cpp
moc_HeadersTab.cpp
moc_ResponseView.cpp
moc_RestInspector.cpp
cmake_install.cmake
CMakeCache.txt
restinspector
restinspector_automoc.cpp
